.h1{
    padding-left: 50px;
    text-align: center;
    font-size: x-large;
    padding-right:0px;
}


.h2{
text-align: center;
font-size: x-large;
}

.h3{
    padding-top: 16px;
    padding-left: 440px;
}