@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
}

.navbar{
    cursor: pointer;
    display: flex;
    height: 67px;
    font-family: 'Times New Roman', Times, serif;
    }
    .navbar li{
        list-style: none;
        margin: 0 12px;
    }

    .topleft{
        width: 50%;
        padding: 12px 0;
    }

    .topright{
        width: 50%;
    }

    .section1{
      align-items: center;

    }

.Logo{
    font-size: 1.3rem;
}

.Image{
    width: 150px; 
}

.Image1{
    width: 50px;
    padding-right: -79px;
    padding-left: -79px;
    width: 40px;
    border-top-right-radius: 30px;
    padding: 10px;
}

.FontClass{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}

.text-centre{
    text-align: center;
}

.section2 h1{
  font-size: 2rem;
}

.section2{
    padding-left: 63px;
    padding-right: 63px;
    align-items: center;
}


.box{
    margin: 12px 22px;
    min-width: 34vw;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 8px 0;
    color: rgb(29, 88, 214);
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder ;
}

.box li{
    list-style: none;
}

.box ul li{
    margin: 12px;
}

.Measure{
    text-align: center;
    padding: 8px 0;

}   

.boxes flex{
    text-align: center;
}

.text-main{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;

}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}


.box1{
    text-align: center;
    padding: 8px 0;
 
    font-size: x-large;

}


.text-centre1{
    text-align: center;
}

.Image6{
    background-image: image();
}